* {
    margin: 0;
    padding: 0;
}

img {
    width: 100%;
    /* height: 100%; */
}

header {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 12px 0;
    max-height: 80px;
    height: 100%;
}

header .logo img {
    max-width: 200px;
}